# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/javaFX/FX_CSS_Project/nbproject/private/
/javaFX/FX_CSS_Project/dist/
/javaFX/FX_CSS_Project/build/
/javaFX/ObserverDesignPattern_JavaFX_CSS_Project/nbproject/private/
/javaFX/ObserverDesignPattern_JavaFX_CSS_Project/build/
/javaFX/ObserverDesignPattern_JavaFX_CSS_Project/dist/