.btn{
	border-radius: 25px; /* rounds corners */
    border: 2px solid #8AC007;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 90px;
    height: 5px; 
	
	background-color:  white;
	color: purple;
	transition: background-color 4.0s, color 0.4s;
	position: absolute;
	overflow: hidden; /* hides text that lies outside of button dimension */
}

.btn:hover{
	background-color:  orange;
	color: red;
}


		
.top{ top:0px;}
.btn:hover .top{ top: -50px;}

.bottom{ top: 50px;} /* the top of this content begins at the 130th vertical pixel */
.btn:hover .bottom{ top:  0px;}

.content{
	position: absolute; /* free element, not affected by position of other elements */
	transition: top 0.3s;
}

/*when using absolute positioning, you have to take the parent element into account (that is, .btn, with position:relative). If you don't set a parent element that uses the position CSS property then the HTML tag is used. */